<div class="container">
  <table>
    <thead>
      <tr>
        <th>Contract Number</th>
        <th>Carrier Name</th>
        <th>Line of Business</th>
        <th>Product Type</th>
        <th>Inbox</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let policy of response">
          <td>{{ policy.polNumber }}</td>
          <td>{{ policy.carrierName }}</td>
          <td>{{ policy.lineOfBusiness }}</td>
          <td>{{ policy.productType }}</td>
          <td class="inbox-cell" (click)="openAlerts(policy)">
            <div class="icon-container">
              <mat-icon class="mail-icon">mail</mat-icon>
              <span class="notification-badge">{{ policy.systemMessages.length }}</span>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
  <div *ngIf="showNotification" @fadeInOut class="notification">
    <p>New Alert Notification Received</p>
  </div>
</div>